{% extends 'partials/base.html' %}
{% load i18n %}
{% load static %}
{% block contents %}
    <div class="row">
        <div class="col-xl-3">
            <div class="card">
                <div class="card-body border-bottom pb-4">
                    <div class="vstack gap-4">
                        <div class="d-flex">
                            <div class="ms-2 flex-grow-1">
                                <h5 class="mb-1 fw-semibold"> {% trans 'company representative' %}
                                </h5>
                            </div>
                            <div class="dropdown pull-right">
                                <button class="btn  btn-outline-pink" type="button" id="company_representative"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="company_representative">
                                    <li><a class="dropdown-item"
                                    ><i
                                            class="mdi text-primary mdi-plus-one"></i> {% trans 'Add' %} {% trans 'company representative' %}
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% for representative in representatives.all %}
                    {% include 'aziende/details_representative_info.html' %}
                {% endfor %}
            </div>

            <div class="card">
                <div class="card-body border-bottom pb-4 bg-success-subtle">
                    <div class="vstack gap-4">
                        <div class="d-flex">
                            <div class="ms-2 flex-grow-1">
                                <h5 class="mb-1 fw-semibold"> {% trans 'Offices' %}
                                </h5>
                            </div>
                            <div class="dropdown pull-right">
                                <button class="btn  btn-outline-pink" type="button" id="button_offices"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="company_representative">
                                    <li><a class="dropdown-item"
                                    ><i
                                            class="mdi text-primary mdi-plus-one"></i> {% trans 'Add' %} {% trans 'office' %}
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% for office in offices.all %}
                    {% include 'aziende/details_office_info.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="col-xl-9">
            {% include 'aziende/details_company_info.html' %}
            <hr>
            <div class="row">
                {% include 'aziende/company-detail-tab.html' %}
            </div>

        </div><!--end col-->
    </div><!--end row-->

{% endblock %}

{% block extra_javascript %}
    {##}
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
    <script  >
    // Mixed chart
// get colors array from the string
function getChartColorsArray(chartId) {
    if (document.getElementById(chartId) !== null) {
        var colors = document.getElementById(chartId).getAttribute("data-colors");
        if (colors) {
            colors = JSON.parse(colors);
            return colors.map(function (value) {
                var newValue = value.replace(" ", "");
                if (newValue.indexOf(",") === -1) {
                    var color = getComputedStyle(document.documentElement).getPropertyValue(
                        newValue
                    );
                    if (color) return color;
                    else return newValue;
                } else {
                    var val = value.split(",");
                    if (val.length == 2) {
                        var rgbaColor = getComputedStyle(
                            document.documentElement
                        ).getPropertyValue(val[0]);
                        rgbaColor = "rgba(" + rgbaColor + "," + val[1] + ")";
                        return rgbaColor;
                    } else {
                        return newValue;
                    }
                }
            });
        } else {
            console.warn('data-colors Attribute not found on:', chartId);
        }
    }
}
var mixedChartColors = getChartColorsArray("mixed_chart");
if (mixedChartColors) {
    var options = {
        chart: {
            height: 350,
            type: 'line',
            stacked: false,
            toolbar: {
                show: false
            }
        },
        stroke: {
            width: [0, 2, 4],
            curve: 'smooth'
        },
        plotOptions: {
            bar: {
                columnWidth: '50%'
            }
        },
        colors: mixedChartColors,
        series: [{
            name: 'Vacancies',
            type: 'column',
            data: [23, 11, 22, 27, 13, 22, 37, 21, 44, 22, 30]
        }, {
            name: 'Colloqui',
            type: 'area',
            data: [44, 55, 41, 67, 22, 43, 21, 41, 56, 27, 43]
        }, {
            name: 'Assunzioni',
            type: 'line',
            data: [30, 25, 36, 30, 45, 35, 64, 52, 59, 36, 39]
        }],
        fill: {
            opacity: [0.85, 0.25, 1],
            gradient: {
                inverseColors: false,
                shade: 'light',
                type: "vertical",
                opacityFrom: 0.85,
                opacityTo: 0.55,
                stops: [0, 100, 100, 100]
            }
        },
        labels: ['01/01/2023', '02/01/2023', '03/01/2023', '04/01/2023', '05/01/2023', '06/01/2023', '07/01/2023', '08/01/2023', '09/01/2023', '10/01/2023', '11/01/2023'],
        markers: {
            size: 0
        },
        xaxis: {
            type: 'datetime'
        },
        yaxis: {
            title: {
                text: 'Points',
            },
        },
        tooltip: {
            shared: true,
            intersect: false,
            y: {
                formatter: function (y) {
                    if (typeof y !== "undefined") {
                        return y.toFixed(0) + " points";
                    }
                    return y;

                }
            }
        },
        grid: {
            borderColor: '#f1f1f1'
        }
    }

    var chart = new ApexCharts(
        document.querySelector("#mixed_chart"),
        options
    );

    chart.render();
}

    </script>

{% endblock %}