{% load i18n %}
<div class="card-body">
    <div class="table-responsive">
        <table class="table">
            <tbody>
            {% if representative.full_name %}
                <tr>
                    <th scope="col">{% trans 'Full Name' %}</th>
                    <td scope="col">{{ representative.full_name }}</td>
                </tr>
            {% endif %}
            {% if representative.address %}
                <tr>
                    <th scope="col">{% trans 'address' %}</th>
                    <td scope="col">{{ representative.address }} {{ representative.municipality_province }} {{ representative.country }}</td>
                </tr>
            {% endif %}
            {% if representative.phone_mobile %}
                <tr>
                    <th scope="col">{% trans 'phone_mobile' %}</th>
                    <td scope="col">{{ representative.phone_mobile }}</td>
                </tr>
            {% endif %}
            {% if representative.phone_number %}
                <tr>
                    <th scope="col">{% trans 'phone_number' %}</th>
                    <td scope="col">{{ representative.phone_number }}</td>
                </tr>
            {% endif %}
            {% if representative.email %}
                <tr>
                    <th scope="col">{% trans 'email' %}</th>
                    <td scope="col">{{ representative.email }}</td>
                </tr>
            {% endif %}
            {% if representative.fax %}
                <tr>
                    <th scope="col">{% trans 'fax' %}</th>
                    <td scope="col">{{ representative.fax }}</td>
                </tr>
            {% endif %}
            {% if representative.facebook %}
                <tr>
                    <th scope="col">{% trans 'facebook' %}</th>
                    <td scope="col">{{ representative.facebook }}</td>
                </tr>
            {% endif %}
            {% if representative.instagram %}
                <tr>
                    <th scope="col">{% trans 'instagram' %}</th>
                    <td scope="col">{{ representative.instagram }}</td>
                </tr>
            {% endif %}
            {% if representative.tiktok %}
                <tr>
                    <th scope="col">{% trans 'tiktok' %}</th>
                    <td scope="col">{{ representative.tiktok }}</td>
                </tr>
            {% endif %}
            {% if representative.role %}
                <tr>
                    <th scope="col">{% trans 'role' %}</th>
                    <td scope="col">{{ representative.role }}</td>
                </tr>
            {% endif %}
            {% if representative.date_of_birth %}
                <tr>
                    <th scope="col">{% trans 'date_of_birth' %}</th>
                    <td scope="col">{{ representative.date_of_birth }}</td>
                </tr>
            {% endif %}
            {% if representative.status %}
                <tr>
                    <th scope="col">{% trans 'Status' %}</th>
                    <td scope="col">{{ representative.status }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="gap-5 ">
        <div class="row">
            <div class="col-10 text-left">
                {% if representative.email %}
                    <a href="mailto:{{ representative.email }}">
                        <i class="btn btn-outline-primary btn-rounded mdi font-size-20 mdi-email"
                           data-bs-toggle="tooltip" data-bs-placement="top" title="Email"></i>
                    </a>
                {% endif %}
                {% if representative.whatsapp and representative.phone_mobile %}
                    <a href="https://wa.me/{{ representative.phone_mobile }}" target="_blank">
                        <i class="btn btn-outline-success btn-rounded mdi font-size-20 mdi-whatsapp"
                           data-bs-toggle="tooltip" data-bs-placement="top" title="WhatsApp"></i>
                    </a>
                {% endif %}
                {% if representative.phone_mobile %}<a href="tel:{{ representative.phone_mobile }}">
                    <i class="btn btn-outline-primary btn-rounded mdi font-size-20 mdi-cellphone-iphone"
                       data-bs-toggle="tooltip" data-bs-placement="top" title="Mobile"></i>
                </a>{% endif %}
                {% if representative.phone_number %}<a href="tel:{{ representative.phone_number }}">
                    <i class="btn btn-outline-danger btn-rounded mdi font-size-20 mdi-card-account-phone-outline"
                       data-bs-toggle="tooltip" data-bs-placement="top" title="Phone"></i>
                </a>{% endif %}
            </div>
            <div class="col-2">
                <div class="dropdown float-end">
                    <button class="btn  btn-outline-pink" type="button" id="company_representative"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="company_representative">
                        <li><a class="dropdown-item"
                               href="{% url 'jobs-details' %}" target="_blank"><i
                                class="mdi text-success mdi-eye-outline"></i> {% trans 'View Details' %}
                        </a>
                        </li>
                        <li><a class="dropdown-item"
                               href="{% url 'jobs-details' %}"><i
                                class="mdi text-warning mdi-pencil-outline"></i> {% trans 'Update' %}
                        </a>
                        </li>
                        <li><a class="dropdown-item"
                               href="{% url 'jobs-details' %}"><i
                                class="mdi text-danger mdi-delete-outline"></i> {% trans 'Delete' %}
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>