{% load i18n %}
{% load static %}
<div class="card">
    <div class="card-body border-bottom">
        <div class="row">
            <div class=" col-10 d-flex">
                <img src="{% static 'images/companies/wechat.svg' %}" alt="" height="50">
                <div class="flex-grow-1 ms-3">
                    <h5 class="fw-semibold">{{ company.name }}</h5>
                </div>
            </div>
            <div class="col-2 float-end">
                <div class="dropdown float-end">
                    <button class="btn  btn-outline-pink" type="button" id="company_detail_dropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="company_detail_dropdown">
                        <li><a class="dropdown-item"
                               href="{% url 'jobs-details' %}"><i
                                class="mdi text-warning mdi-pencil-outline"></i> {% trans 'Update' %}
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-7">
                <h5 class="fw-semibold mb-3">{% trans 'Description' %}</h5>
                <p class="text-muted">{{ company.description }}</p>
                <h5 class="fw-semibold mb-3">{% trans Detail %}</h5>
                <table class="table  mb-0">
                    <tbody>
                    {% if company.status %}
                        <tr>
                            <th scope="row">{% trans 'Status' %}</th>
                            <td><span class="badge badge-soft-info">{{ company.status }}</span></td>
                        </tr>
                    {% endif %}
                    {% if company.macro_switch %}
                        <tr>
                            <th scope="row">{% trans 'macro_switch' %}</th>
                            <td>{{ company.macro_switch }}</td>
                        </tr>
                    {% endif %}
                    {% if company.industry %}
                        <tr>
                            <th scope="row">{% trans 'industry' %}</th>
                            <td>{{ company.industry }}</td>
                        </tr>
                    {% endif %}
                    {% if company.sector %}
                        <tr>
                            <th scope="row">{% trans 'sector' %}</th>
                            <td>{{ company.sector }}</td>
                        </tr>
                    {% endif %}
                    {% if company.email %}
                        <tr>
                            <th scope="row">{% trans 'email' %}</th>
                            <td>{{ company.email }}</td>
                        </tr>
                    {% endif %}
                    {% if company.phone_mobile %}
                        <tr>
                            <th scope="row">{% trans 'phone_mobile' %}</th>
                            <td>{{ company.phone_mobile }}</td>
                        </tr>
                    {% endif %}
                    {% if company.phone_number %}
                        <tr>
                            <th scope="row">{% trans 'phone_number' %}</th>
                            <td>{{ company.phone_number }}</td>
                        </tr>
                    {% endif %}
                    {% if company.address %}
                        <tr>
                            <th scope="row">{% trans 'address' %}</th>
                            <td>{{ company.address }}</td>
                        </tr>
                    {% endif %}
                    {% if company.website %}
                        <tr>
                            <th scope="row">{% trans 'website' %}</th>
                            <td>{{ company.website }}</td>
                        </tr>
                    {% endif %}
                    {% if company.number_employees %}
                        <tr>
                            <th scope="row">{% trans 'number_employees' %}</th>
                            <td>{{ company.number_employees }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="gap-5 ">
                    <div class="row">
                        <div class="col-10 text-left">
                            {% if company.email %}
                                <a href="mailto:{{ company.email }}">
                                    <i class="btn btn-outline-primary btn-rounded mdi font-size-20 mdi-email"
                                       data-bs-toggle="tooltip" data-bs-placement="top" title="Email"></i>
                                </a>
                            {% endif %}
                            {% if company.phone_mobile %}<a href="tel:{{ company.phone_mobile }}">
                                <i class="btn btn-outline-primary btn-rounded mdi font-size-20 mdi-cellphone-iphone"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Mobile"></i>
                            </a>{% endif %}
                            {% if company.phone_number %}<a href="tel:{{ company.phone_number }}">
                                <i class="btn btn-outline-danger btn-rounded mdi font-size-20 mdi-card-account-phone-outline"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Phone"></i>
                            </a>{% endif %}
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Andamento 2023 </h4>

                        <div id="mixed_chart" data-colors='["--bs-danger","--bs-primary", "--bs-success"]'
                             class="apex-charts"
                             dir="ltr"></div>
                    </div>
                </div><!--end card-->

            </div>
        </div>
    </div>
</div>