{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}
{% block extra_css %}

    <link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet"
          type="text/css">

{% endblock %}

{% block contents %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card job-filter">
                <div class="row">
                    <div class="col-12">
                        <div class="dropdown float-end mt-3 me-3">
                            <button class="btn  btn-outline-pink" type="button" id="button_offices"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="company_representative">
                                <li><a class="dropdown-item"
                                ><i
                                        class="mdi text-primary mdi-plus-one"></i> {% trans 'Add' %} {% trans 'Project' %}
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3">
                    <form action="javascript:void(0);">
                        <div class="row g-3">
                            <div class="col-xxl-2 col-lg-4">
                                <div class="position-relative">
                                    <input type="text" class="form-control" id="searchProject" autocomplete="off"
                                           placeholder="Search Project">
                                </div>
                            </div>
                            <div class="col-xxl-2 col-lg-4">
                                <div class="position-relative">
                                    <input type="text" class="form-control" id="searchLead" autocomplete="off"
                                           placeholder="{% trans 'Lead' %}">
                                </div>
                            </div>  
                             <div class="col-xxl-2 col-lg-4">
                                <div class="position-relative">
                                    <input type="text" class="form-control" id="searchStatus" autocomplete="off"
                                           placeholder="{% trans 'Status' %}">
                                </div>
                            </div>  
                            <div class="col-xxl-2 col-lg-6">
                                <div class="position-relative">
                                    <div id="datepicker1">
                                        <input type="text" class="form-control" placeholder="Start date"
                                               data-date-format="dd M, yyyy" data-date-container='#datepicker1'
                                               data-date-autoclose="true" data-provide="datepicker">
                                    </div><!-- input-group -->
                                </div>
                            </div>
                            <div class="col-xxl-2 col-lg-6">
                                <div class="position-relative">
                                    <div id="datepicker1">
                                        <input type="text" class="form-control" placeholder="End date"
                                               data-date-format="dd M, yyyy" data-date-container='#datepicker1'
                                               data-date-autoclose="true" data-provide="datepicker">
                                    </div><!-- input-group -->
                                </div>
                            </div>
                            <!--end col-->

                            <div class="col-xxl-2 col-lg-6">
                                <div class="position-relative h-100 hstack gap-3">
                                    <button type="submit" class="btn btn-primary h-100 w-100"><i
                                            class="bx bx-search-alt align-middle"></i>{% trans 'Find Project' %}
                                    </button> 
                                </div>
                            </div>  
                        </div>
                        <!--end row-->
                    </form>
                </div>
            </div>
        </div>
        <!--end col-->
    </div>
    <!--end row-->

    <div class="row" id="projectgrid-list">
    </div><!--end row-->

    <div class="row mb-3">
        <div class="col-lg-12">
            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation example" id="pagination-element" class="mb-0">
                    <div class="pagination-block pagination pagination-rounded">
                        <a href="#" class="page-link outline-none" id="page-prev"><i
                                class='bx bx-chevron-left align-middle'></i></a>
                        <span id="page-num" class="outline-none pagination"></span>
                        <a href="#" class="page-link outline-none" id="page-next"><i
                                class='bx bx-chevron-right align-middle'></i></a>
                    </div>
                </nav>
            </div>
        </div><!--end col-->
    </div><!--end row-->

{% endblock %}

{% block extra_content %}

    <!-- Modal -->
    <div class="modal fade" id="applyJobs" tabindex="-1" aria-labelledby="applyJobsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="applyJobsLabel">Apply For This Job</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="#!">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label for="fullnameInput" class="form-label">Full Name</label>
                                    <input type="text" class="form-control" id="fullnameInput"
                                           placeholder="Enter your name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="emailInput" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="emailInput"
                                           placeholder="Enter your email">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="phoneNumberInput" class="form-label">Phone Number</label>
                                    <input type="email" class="form-control" id="phoneNumberInput"
                                           placeholder="Enter your number">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label for="uploadResume" class="form-label">Upload Resume</label>
                                    <input type="file" class="form-control" id="uploadResume"
                                           placeholder="Upload resume">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-4">
                                    <label for="messageInput" class="form-label">Message</label>
                                    <textarea class="form-control" id="messageInput" rows="3"
                                              placeholder="Enter your message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="text-end">
                                    <button class="btn btn-success">Send Application <i
                                            class="bx bx-send align-middle"></i></button>
                                    <button class="btn btn-outline-secondary">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_javascript %}
    <script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/lia_projects/project-list.init.js' %}"></script>
{% endblock %}
