{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}
{% block extra_css %}
    <link href="{% static 'libs/dropzone/dist/dropzone.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block contents %}
    <div class="row">
        <div class="col-xl-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="fw-semibold  text-center">{% trans 'Overview' %}</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="col">{% trans 'insertion_title' %}</th>
                                <td scope="col">{{ vacancy.insertion_title }}</td>
                            </tr>
                            <tr>
                                <th scope="col">{% trans 'Company' %}</th>
                                <td scope="col">{{ company.name }}}</td>
                            </tr>

                            <tr>
                                <th scope="row">{% trans 'Status Vacancy' %}</th>
                                <td>{{ vacancy.status }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{% trans 'Job Type' %}/th>
                                <td><span class="badge badge-soft-success">{{ vacancy.job_type }}</span></td>
                            </tr>
                            <tr>
                                <th scope="row">{% trans 'Numbers' %}/th>
                                <td><span class="badge badge-soft-success">{{ vacancy.numbers }}</span></td>
                            </tr>
                            {% if protected_category %}
                                <tr>
                                    <th scope="row">{% trans 'protected_category<' %}/th>
                                    <td>
                                        {% for category in protected_category %}
                                            <span class="badge badge-soft-success">{{ category.description }}</span>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th scope="row">{% trans 'insertion_start_date' %}</th>
                                <td>{{ vacancy.insertion_start_date }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{% trans 'insertion_end_date' %}</th>
                                <td>{{ vacancy.insertion_end_date }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% include 'aziende/details_office_info.html' %}
            <div class="card">
                <div class="card-body">
                    <h5 class="fw-semibold text-center">{% trans 'company_representative' %}</h5>
                    {% include 'aziende/details_representative_info.html' %}
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    {% include 'utils/histories.html' %}
                </div>
            </div>

        </div><!--end col-->
        <div class="col-xl-9">
            {% include 'vacancies/vacancies-detail-tab.html' %}
        </div>
    </div>


{% endblock %}

{% block extra_javascript %}
    <!-- Plugins js -->
    <script src="{% static 'libs/dropzone/dist/dropzone-min.js' %}"></script>

    <!-- Form file upload init js -->
    <script src="{% static 'js/pages/form-file-upload.init.js' %}"></script>

{% endblock %}