{% load i18n %}
{% load static %}
<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link active" data-bs-toggle="tab" href="#tab_details" role="tab">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">Details</span>
                </a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" data-bs-toggle="tab" href="#tab_actions" role="tab">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block">Azioni and Colloqui</span>
                </a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" data-bs-toggle="tab" href="#tab_proposed_candidates" role="tab">
                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                    <span class="d-none d-sm-block">Proposed candidates</span>
                </a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" data-bs-toggle="tab" href="#tab_file_manager" role="tab">
                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                    <span class="d-none d-sm-block">Files</span>
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content p-3 text-muted">
            <div class="tab-pane active" id="tab_details" role="tabpanel">
                {% include 'vacancies/vacancy-detail-card.html' %}
            </div>
            <div class="tab-pane " id="tab_actions" role="tabpanel">
                {% include 'vacancies/vacancy-action.html' %}
            </div>
            <div class="tab-pane" id="tab_proposed_candidates" role="tabpanel">
                {% include 'vacancies/vacancy-proposal-candidates.html' %}
            </div>
            <div class="tab-pane" id="tab_file_manager" role="tabpanel">
                  {% include 'utils/file-manager-list.html' %}
            </div>

        </div>

    </div>
</div>
