{% extends "admin/change_form.html" %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript">
        window.onload = function () {
            console.log('defaultIndustryId: ', "{{ default_industry }}")
            var defaultIndustryId = "{{ default_industry|default_if_none:'' }}";
            console.log('defaultIndustryId22: ', defaultIndustryId)
            if (defaultIndustryId) {
                var industrySelect = document.getElementById("id_industry");
                if (industrySelect) {
                    $('#id_industry').val(defaultIndustryId);
                    $('#id_industry').trigger('change');
                }
            }
        };
    </script>
{% endblock %}